
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Marvel|Yesteryear&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --name: 'Great Vibes', cursive;
    --secondary: 'Marvel', sans-serif;
    --gold: #a39043;
    --darkGold:#554b22;
    --white:whitesmoke;
    /* --blue:#2D283E; */
    --blue:rgb(44, 37, 63);
}
body, html{
    width: 100%;
    display: grid;
    grid-row-gap: 6rem;
}
.wrapper{
    display: grid;
    height: 100%;
}

.titleA{
    border-top: 6px solid var(--gold);
    padding-top: 1.2rem;
    font-family: var(--name);
    font-size: 2rem;
    color: var(--gold);
}

.titleB{
    border-top: 6px solid var(--white);
    padding-top: 1.2rem;
    font-family: var(--name);
    font-size: 2rem;
    color: var(--gold);
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2,6rem) repeat(2,7rem) repeat(2,6rem) repeat(3, 1fr);
    grid-template-rows: repeat(2, 6rem) repeat(4, 3.5rem) repeat(7, 3.5rem);
    background: white;
}

.coverImg{
    grid-column: 1/-1;
    grid-row: 1/10;
    overflow: hidden;
}

.coverImg img{
    width: 100%;
}

.profileImg{
    grid-column: 6/8;
    grid-row: 3/7;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 20px 2px rgb(67,67,67);

    animation:slideInRight;
    -webkit-animation:slideInRight;
    -moz-animation:slideInRight;
    -ms-animation:slideInRight;

    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.27, 1.08, 0.32, 1.28);
    transform: translateX(60rem);
    -webkit-transform: translateX(60rem);
}
.profileImg img{
    width: 100%;
}
@keyframes slideInRight{
    100%{
        transform:translateX(0);
    }
}

.infoBox{
    display: grid;
    background: white;
    grid-column: 4/10;
    grid-row: 5/-1;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 1rem 0 6rem 0;

    animation: slideInLeft;
    -webkit-animation: slideInLeft;
    -moz-animation: slideInLeft;
    -ms-animation: slideInLeft;
    
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.27, 1.08, 0.32, 1.28);
    transform: translateX(-60rem);
    -webkit-transform: translateX(-60rem);
}
@keyframes slideInLeft{
    100%{
        transform:translateX(0);
    }
}
@-webkit-keyframes slideInLeft{
    100%{
        -webkit-transform: translateX(0);
    }
}

.name{
    display: grid;
}

.name h1{
    font-family: var(--name);
    font-size: 3rem;
    color: #a39043;

    animation: slideInTop;
    -webkit-animation: slideInTop;
    -moz-animation: slideInTop;
    -ms-animation: slideInTop;

    animation-iteration-count: 1;
    animation-duration: 1.4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function:cubic-bezier(1, 0.86, 0.35, 1.15);
    transform: translateY(-60rem);
    -webkit-transform:translateY(-60rem);
}
@keyframes slideInTop{
    100%{
        transform:translateY(0);
    }
}
@-webkit-keyframes slideInLeft{
    100%{
        -webkit-transform: translateY(0);
    }
}

.name h3{
    animation: slideInTop;
    -webkit-animation: slideInTop;
    -moz-animation: slideInTop;
    -ms-animation: slideInTop;

    animation-iteration-count: 1;
    animation-duration: 1.4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function:cubic-bezier(1, 0.86, 0.35, 1.15);
    transform: translateY(-60rem);
    -webkit-transform:translateY(-60rem);
}

.name h3, .contactInfo{
    font-family: var(--secondary);
}

.contactInfo{
    display: grid;
    grid-gap: .3rem;

    animation: rotate;
    -webkit-animation: rotate;
    -moz-animation: rotate;
    -ms-animation: rotate;

    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1, 0.86, 0.37, 1.29);
    transform:rotateY(180deg) scale(0);
    -webkit-transform:rotateY(180deg) scale(0);
}
@keyframes rotate{
    100%{
        transform:rotateY(0);
    }
}
@-webkit-keyframes slideInLeft{
    100%{
        -webkit-transform:rotateY(0);
    }
}

.linkedin img{
    width: 2rem;
}

/* ======================================================== */
/* Middle are */
.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 7rem;
}

/* ======================================================== */
/* Portfolio Area */
.portfolioSection{
    display: grid;
    grid-row-gap: 5rem;
}

.portfolioHeader{
    display: grid;
    width: 70rem;
    height: 4rem;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-areas: 
        'boxA boxB .';
    justify-self: center;
}

.boxA{
    grid-area: boxA;
    display: grid;
    justify-items: start;
}

.boxB{
    grid-area: boxB;
    display: grid;
    padding-top:2rem;
    text-align: center;
    grid-template-columns: repeat(3, auto);
}

.portfolioContent{
    display: grid;
}

.portfolio{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img{
    width: 100%;
    box-shadow: var(--shadow);
}

/* ======================================================== */
/* About Me */
.aboutMeSection{
    display: grid;
    justify-content: center;
}

.aboutWrapper{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    width: 70rem;
}

.aboutMeTitle{
    display: grid;
    justify-items: start;
}

.aboutMeText{
    font-family: 'Marvel', sans-serif;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.aboutMeIcons{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
    padding-top: 4rem;
}

.icons{
    display: grid;
    border: 4px solid var(--gold);
    justify-self: center;
    align-items: center;
    justify-items: center;
    transition: border-radius .5s ease-out;
    -moz-border-radius: 2rem 0 2rem 0;
    -webkit-border-radius: 2rem 0 2rem 0;
    border-radius: 2rem 0 2rem 0;
    height: 6rem;
    width: 6rem;
}

.icons:hover{
    -moz-border-radius: 2rem 0 2rem 0;
    -webkit-border-radius: 2rem 0 2rem 0;
    border-radius: 50%;
    -moz-border-radius: 0 2rem 0 2rem;
    -webkit-border-radius: 0 2rem 0 2rem;
    border-radius: 0 2rem 0 2rem;
}

.icons h1{
    font-family: var(--secondary);
    color: var(--gold);
    font-size: 1.1rem;
}

/* ======================================================== */
/* Experinece Area */
.experienceSection{
    display: grid;
}

/* ======================================================== */
/* Education Area */
.educationSection{
    display: grid;
    background: var(--blue);
    padding: 6rem 0;
    justify-content: center;
}

.educationWrapper{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    width: 70rem;
}

.educationTitle{
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 2px;
}

.educationTitle::after{
    content: '';
    width: 2px;
    background: #a39043;
    transform: translateX(-1.7rem);
}

.educationText{
    display: grid;
    grid-row-gap: 5rem;
}

.school{
    display: grid;
    grid-template-columns: 2rem 1fr;
    transform: translateX(-2rem);
}

.school::before{
    content: '';
    width: .5rem;
    height: .5rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: var(--gold);
    box-shadow: 0 0 0 3px rgb(85, 75, 34) ;
    margin-top: .8rem;
}

.school h3{
    font-family: var(--secondary);
    color: var(--gold);
    font-size: 1.8rem;
}

.school h4{
    font-family: var(--secondary);
    color: var(--white);
}

.school p{
    font-family: var(--secondary);
    color: var(--white);
    padding-top: 1rem;
    line-height: 1.5rem;
}

/* ======================================================== */
/* Footer Area */
footer{
    margin-top: 2rem;
    background: var(--blue);
    color: var(--gold);
    text-align: center;
    padding: 1rem;
    font-family: var(--secondary);
}

/* ======================================================== */
/* Responsive */
@media only screen and (max-width: 1240px) {
    .portfolioHeader, .aboutWrapper, .educationWrapper{
        width: 50rem;
    }
}
@media only screen and (max-width: 812px) {
    .portfolioHeader, .aboutWrapper, .educationWrapper{
        width: 40rem;
    }
}
@media only screen and (max-width: 768px) {
    .portfolioHeader, .aboutWrapper, .educationWrapper{
        width: 39rem;
    }
}
@media only screen and (max-width: 667px) {
    header{
        grid-template-columns: repeat(3, 1fr) repeat(2,1fr) repeat(2,7rem) repeat(2,1fr) repeat(3, 1fr);
    }
    .infoBox{
        grid-column: 1/-1;
        grid-row: 6/-1
    }
    .portfolioHeader{
        grid-template-columns: 1fr;
        width: 70%;
    }
    .boxA{
        justify-items: center;
    }
    .portfolio{
        grid-gap: 10px;
    }
    .aboutMeSection{
        justify-items: center;
    }
    .aboutWrapper{
        grid-template-columns: 1fr;
        width: 70%;
        grid-row-gap: 3rem;
    }
    .aboutMeTitle{
        justify-items: center;
    }
    .aboutMeIcons{
        grid-template-columns: repeat(3 , 1fr);
        grid-column-gap:0;
        grid-row-gap: 2rem;
    }
    .educationWrapper{
        width: 70%;
        grid-template-columns: 1fr;
        justify-self: center;
        grid-row-gap: 3rem;
    }
    .educationTitle{
        justify-items: center;
    }
    .educationTitle::after{
        content: none;
    }
    .educationText{
        grid-row-gap: 0;
    }
    .school{
        grid-template-columns: 1fr;
        transform: none;
    }
    .school::before{
        content: none;
    }
    .schoolText{
        display: grid;
        grid-template-columns:repeat(2 , 2px) repeat(1, 1fr);
        grid-template-areas: 
            'circle line schoolInfo';
    }
    .schoolInfo{
        grid-area: schoolInfo;
        padding: 2rem 0;
    }
    .schoolText::before{
        grid-area: circle;
        content: '';
        width: .5rem;
        height: .5rem;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: var(--gold);
        box-shadow: 0 0 0 3px rgb(85, 75, 34);
        transform: translateX(-1.75rem);
        margin: 2.8rem 0;
    }
    .schoolText::after{
        content: '';
        grid-area: line;
        background: var(--gold);
        width: 2px;
        transform: translateX(-1.7rem);
    }
}
@media only screen and (max-width: 414px) {
    .aboutMeIcons{
        grid-template-columns: repeat(2 , 1fr);
        grid-column-gap:1rem;
    }
}